.product-list{
    background-color:#fff;
    border-radius:4px;
    margin-bottom: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.product-list .product-image img{
    width:100%;
}

.product-list .product-details .product-title .title-h1{
    font-family: sans-serif;
    font-size: 14px;
    padding: 0 10px;
    letter-spacing: 1.2px;
    text-align: left;
    font-weight: 800;
}

.product-list .product-features .product-btn .btn-primary{
    margin-left:45px;
}

.product-list .product-details .product-location{
    margin-bottom: -10px;
}

.product-list .product-details .product-location .location-text{
    font-family: sans-serif;
    font-size: 0.8em;
    padding: 0 10px;
    letter-spacing: 1.2px;
    text-align: left;
    color:#aba3a3;
    font-weight: 600;
}

.product-list .product-features .feature-list{
    padding: 0px;
}

.product-list .product-features .feature-list li{
    list-style: none;
    float: left;
    padding: 6px 10px;
}

 .product-footer .footer-text{
    border-top: 1px solid black;
    margin-top:10px;
    padding:6px 20px;
}

