.property-details{
    margin-top:60px;
    background-color: #0077e2;
}

.property-details .property-header{
    padding:20px;
}

.input-group .input-group-btn .dropdown .btn{
    height:46px;
    border-radius: 0;
}

.input-group .input-group-btn .btn-go .btn{
    border: 4px;
}

.property-options{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 20px;
}

.property-options .property-head .property-id{
    color: #000;
    font-size: 1em;
    font-weight: 800;
    text-align: left;
}

.property-content .property-options .bottom-line{
    margin-top: 50px;
    border-bottom: 1px solid black;
}



.property-content-details{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.property-content-details .property-content-header{
    float:left;
}

.property-content-details .property-button btn{
    float:left;
}

<div class="property-content-details">
<div class="property-content-header">
    <h3 class="property-title">64 BOW, Middletown, CT - 06457</h3>
</div>
<div class="property-button">
    <button class="btn btn-default" type="button">Go!</button>
</div>
</div>

<div class="property-content-header">
<h3 class="property-title">64 BOW, Middletown, CT - 06457</h3>
</div>

.property-content .property-descrption{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 10px 32px;
    display: block;
}

.property-content .property-descrption .property-icons property-desc-icons li{
    float:left
}

.property-content .property-descrption .property-plan img{
    width:100%;
    padding:10px 30px;
}

.property-search-bar .input-group .input-group-btn .btn-1{
    margin: 0 10px;
    border-radius: 4px;
}

.property-content .property-descrption .product-btn .btn-2{
    display: block;
    width:100%
}