.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 16px 30px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-nav {
    padding: 12px 5px;
}

.nav>li>a {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 4px;
    border-radius: 4px;
    letter-spacing: 1.2px;
    text-align: left;
    margin-right: 12px;
    background-color: white;
}  

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #131212;
    background-color: transparent;
}

