@media only screen and (max-width: 1200px) {
    .search-bar .input-group .btn {
        margin-left:0;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        margin-left:0;
        
    }
}

@media only screen and (max-width: 600px) {
    .navbar-toggle {
        margin-top:24px;
      
        
    }
}

@media only screen and (max-width: 600px) {
    .head-section {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .footer-section {
        margin-top: -130px;
    }
}

@media only screen and (max-width: 600px) {
    .head-section .submitt-property .btn-2 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .photos-desc h3 {
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    .nav>li {
        position: relative;
        display: block;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .property-feature-icons ul li {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .property-content .property-descrption .property-content-header .property-button{
        float: none;
    }
}

@media only screen and (max-width: 600px) {
    .property-content .property-descrption .property-icons ul li {
        width: 42%;
    }
}

@media only screen and (max-width: 400px) {
    .product-list .product-details .product-features ul li{
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .property-content .product-list .product-details .product-features ul li{
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .product-list .product-details .product-features .product-btn {
        position: relative;
        float: left;
        display: inline-block;
        bottom: -9px;
    }
}

@media only screen and (max-width: 400px) {
    .product-details {
        padding: 20px 32px;
    }
}

@media only screen and (max-width: 400px) {
    .property-content .product-list .product-details .product-features .product-btn {
        bottom: 35px;
        right: 0;
    }
}

@media only screen and (max-width: 400px) {
    .product-section .product-list .product-details .product-features .product-btn {
        bottom: 35px;
        right: 0;
    }
}