.navbar{
    margin-bottom: 0px;
}


body{
    font-family: 'open Sans', 'PT sans';
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
}

@media (min-width: 992px){
.col-md-offset-2 {
        margin-left: 12.666667%;
    }
}


.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}


.navbar-default {
    background-color: #fff;
    border-color: #fff;
}


.navbar  .navbar-default .navbar-header .navbar-collapse .nav .dropdown .dropdown-menu{
    right:0;
} 
.nav>li {
    position: relative;
    display: block;
    padding: 0;
}


.navbar-nav {
    padding: 22px 13px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff;
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 0px 0;
    font-size: 18px;
    line-height: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #07b0dd;
     background-color: #fff;
    border-bottom: 2px solid #07b0dd;
    border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #07b0dd;
}

.nav>li>a {
    font-family: 'open Sans', 'PT sans';
    font-size: 1em;
    font-weight: 600;
    padding: 10px 5px;
    border-radius: 4px;
    letter-spacing: 1.2px;
    text-align: left;
    margin-right: 6px;
    margin-top: 4px;
    
}  

.nav>li>a>img {
    max-width: none;
    padding: 0 10px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #9d9d9d;
    background-color: transparent;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: #9d9d9d;
    background-color: transparent;
}



.main-section{
    margin-top: 20px;
    margin-bottom: 20px;
}


.main-section .header-title h3{
    font-size: 4em;
    text-align: center;
    font-style: none;
    font-weight: 400;
    margin-bottom: 0px;
}
.btn {
    display: inline-block;
    padding: 10px 24px;
}
.btn-default {
    color: #3c3d41;
    background-color: #ffffff;
    border-color: #fff;
}

.hero-section {
    background: url(../img/hero-image-4.jpg) 0;
    width: 100%;
    background-size: cover;
    position: relative;
    /* padding: 270px 0; */
    height: 850px;
    overflow: hidden;
}

.hero-section .hero-content{
    margin:0 auto;
    display: block;
    position: relative;
    margin: 120px 0px;
}

.hero-section .hero-content .h1-title{
    display: inline-block;
    position: relative;
    color: #07b0dd;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    text-transform: none;
    margin-bottom: 1.5%;
}

.hero-section .hero-content .title-p{
    font-size: 1.5em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.5px;
    color: #000;
    /* margin-bottom: 16px; */
    text-align: left;
}

.hero-section .hero-content .main-search-bar .search-bar{
    padding: 0 28px;
}

.header-title{
    display: block;
    color: #000;
    font-size: 0.5em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5%;
}

.main-section .header-title .h1-title{
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
}



.head-content{
    position: relative;
    background-color: #fff;
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; */
    border: 1px solid #eae8e8;
}

.head-content .head-image{
    width: 100%
}

.head-content .head-h2{
    padding: 10px 12px;
}

.head-content .head-h2 .title-text{
    margin: 10px 10px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 800;

}

.head-content .head-h2 .title-p{
    margin: 10px 20px;
    font-size: 0.8em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
    color: #aba3a3;
    /* margin-bottom: 16px; */
    text-align: center;
}

.neighbour-section{
    margin-bottom: 120px;
}

.neighbour-content .neighbour-details .neighbour-image .overlay{
    opacity: 0;
    background: rgba(255,255,255,0.5);
    width: 100%;
    text-align: center;
    line-height: 170px;
    position: absolute;
    top: 0;
    left: 0;
}

.neighbour-content .neighbour-details .neighbour-image:hover .overlay {
    opacity: 1;
}

.neighbour-content .neighbour-details .neighbour-image:hover .overlay .btn-primary{
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}

.neighbour-content .neighbour-details .neighbour-image img{
    width:100%;
    border-radius: 8px;
}

.neighbour-content .neighbour-footer .neighbour-footer-content{
    padding:10px 20px;
}


.neighbour-content .neighbour-footer .neighbour-footer-content p{
    display: inline-block;
}

.neighbour-content  .neighbour-footer .neighbour-footer-content span{
    float:right;
}

.product-list .product-features{
    display: block;
    

}

.product-list .product-details .product-features .features-list{
    padding: 0;
    display: inline-block;
    padding-top: 6px;
}

.product-list .product-details .product-features ul{
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.product-list .product-details .product-features ul li{
    display: inline-block;
    margin-right: 1px;
    font-family: 'open sans', 'PT sans';
    padding: 0px;
    font-size: 10px;
    font-weight: 800;
    
}

.fa-2x{
    font-size: 1.5px;
}

.property-content .product-list .product-details .product-features .product-btn {
    bottom: 15px;
}

.property-content .product-list .product-details .product-features ul li{
    padding: 0;
}

.product-section .product-list .product-details .property-price .price-details{
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    display: block;
}

.product-section .product-list .product-details .property-price .price-details .product-like{
    display: inline-block;
    float: right;
}

.product-section  .product-list .product-details .product-features .product-btn{
    bottom: 15px;
    right: -10px;
}

.product-section  .product-list .product-details .product-features .product-btn-1{
    bottom: 12px;
}


.product-section .product-list .product-details .property-price .price-details .product-like .glyphicon{
    top: -35px;
    border-radius: 4px;
    padding: 8px 8px;
    color: #fff;
    background-color: #719523;
    font-size: 14px;
}

.product-section .product-list .product-details .property-price .price-details .product-like .glyphicon-heart{
    border: 1px solid green;
    background-color: green;
    padding: 6px 6px;
}

.product-list .product-details .product-features ul li p{
    margin: 0;
    font-size: 12px;
    font-family: 'open Sans', 'PT sans';
    text-align: left;
    font-weight: 800;
    color: #707070;
}

.product-list .product-details .product-features ul li span{
    padding: 0px 2px;
    margin-right: 5px;
    font-family: 'open Sans', 'PT sans';
    font-size: 1em;
    color: #8e8b8b;
}

.product-list .product-details .product-features .product-btn{
    position: relative;
    float: right;
    display: inline-block;
    bottom: 34px;
    
}

.product-list .product-details .product-features .product-btn .btn .glyphicon{
    left:8px;
}

.product-list .product-features .product-btn .btn{
    padding: 8px 12px;
    margin-top: 4px;
}

.product-list .product-features .product-btn .btn-primary{
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}


.product-list{
    background-color:#fff;
    border: 1px solid #eae8e8;
    border-radius:4px;
    margin-bottom: 20px;
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; */
}

.product-list .product-image img{
    width:100%;
}



.product-details{
    padding:20px;
}

.product-list .product-details .product-header h2{
    margin: 0 0 10px;
    font-family: 'open Sans', 'PT sans';
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 800;
}

.product-list .product-details .product-location .location-text{
    margin: 10px 0px;
    font-family: 'open Sans', 'PT sans';
    font-size: 0.8em;
    padding: 0;
    letter-spacing: 1.2px;
    text-align: left;
    color:#aba3a3;
    font-weight: 600;
}



.product-list .product-image{
    position: relative;
    display: block;

}

.product-image .price-tag{
    position: absolute;
    display: inline-block;
    bottom: 8px;
    color:white;
    left:20px;
    font-family: 'open Sans', 'PT sans';
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: 800;
    
}

.product-section .product-list .product-image .like{
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
    
}

.product-section .product-list .product-image .like .glyphicon{
    font-size: 24px;
}

.property-area .product-list .product-image .product-like{
    opacity: 1;
    border: 1px solid #72972b;
    background-color: #72972b;
}

.product-list .photos{
   background: rgba(8,8,8, 0.6)
}

.product-list .product-image .product-like .glyphicon-camera{
    top: 8px;
    padding: 0 12px;
}

.product-list .product-image .product-like{
    position: absolute;
    padding: 0px 2px;
    /* display: inline-block; */
    right: 6px;
    bottom: 6px;
    color: white;
    font-family: 'open Sans', 'PT sans';
    font-size: 10px;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-weight: 600;
    border-radius: 4px;
    border-radius: 4px;
}

.product-image .product-like p{
    float: right;
    padding: 10px 6px;
    margin: 0;
}

.product-image .product-like .glyphicon-heart-empty{
    padding: 6px;
    top:1px;
    color: #fff;
    opacity: 1;
    background-color: #72972b;
    border-radius: 4px;
}

.product-list .product-footer{
    border-top: 1px solid #c2c2c2;
}

.product-list .product-footer .footer-text{
    padding: 10px 24px;
    margin-top: 0px;
}

.product-list .product-footer .footer-text .text-f1{
    margin:0;
    color: #00aeef;
}

.product-list-view .product-btn{
    text-align:center;
    margin-bottom: 30px;
}

.product-list-view .product-btn .btn{
    padding: 12px 40px;
    border-radius: 0;
}

.product-list-view .product-btn .btn-primary{
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}

.property-content nav{
    text-align: center;
} 

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
}

.head-section .head-text .head-h1{
    font-size: 2em;
    padding:20px;
    font-family: 'open Sans', 'PT sans';
    letter-spacing: 2px;
    color: #ffffff;
    /* margin-bottom: 16px; */
    text-align: center;
    font-weight: 800;
}

.head-section .head-text p{
    font-size: 2em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    color: #ffffff;
    /* margin-bottom: 16px; */
    text-align: center;
    font-weight: 600;
}

.head-section .submitt-property .btn-1{
    color: #fff;
    background-color: #d8c34c;
    border-color: #d8c34c;
    padding: 20px 15px;
    border-radius: 0;
    font-family: 'open Sans', 'PT sans';
    font-size: 1.2em;
    letter-spacing: 1.2px;
    text-align: left;
    font-weight: 600;
    margin-right: 10px;
}

.head-section .submitt-property .btn-2{
    color: #fff;
    background-color: #07b0dd;
    border-color: #07b0dd;
    padding: 20px 15px;
    border-radius: 0;
    font-family: 'open Sans', 'PT sans';
    font-size: 1.2em;
    letter-spacing: 1.2px;
    text-align: left;
    font-weight: 600;
}

.apartmentlist{
    margin-bottom: 120px;
}

.apar-content{
    position: relative;
    background-color: #fff;
    
}

.apar-content .apar-image{
    width: 100%
}

.apar-content .apar-s2{
    padding: 0px;
}

.apar-content .apar-text{
   /* margin: 10px 10px; */
    font-size: 1.6em;
    text-align: left;
    font-weight: 600;

}

.apar-content .apar-h2 .apar-p{
    /* margin: 10px 20px; */
    font-size: 0.8em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
    color: #aba3a3;
    /* margin-bottom: 16px; */
    text-align: left;
}

.apar-btn{
    
    
    margin-top: -20px;
}
.apar-content .apar-s2 .apar-p {
    /* margin: 10px 20px; */
    font-size: 0.8em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
    color: #aba3a3;
    /* margin-bottom: 16px; */
    text-align: left;
}

.neighbour-section{
    background-color: #f4f7f9;
    background-size: cover;
    margin: 10px 0;
    overflow: hidden;
    padding: 120px 0; 
    position: relative;
    clip-path: polygon(0 0,100% 9vw,100% 100%,0 calc(97% - 6vw));
    padding-bottom: 20rem;
}

.neighbour-section .header-title h3{
    font-size: 4em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}

.register-section{
    background: url(../img/port-area-1.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    margin: 10px 0;
    overflow: hidden;
    /* padding: 480px 20px; */
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    clip-path: polygon(0 0,100% 9vw,100% 100%,0 calc(85% - 6vw));
    padding-bottom: 20rem;
}

.head-section{
    padding: 180px;
    
}

.foot-section{
    background-color: black;
    background-size: cover;
    color: #fff;
    margin: -10px 0;
    overflow: hidden;
    padding: 260px 20px;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    clip-path: polygon(0 0,100% 9vw,100% 100%,0 100%);
    ;
}

.footer-section{
    margin-top:-250px;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 120px;
    clip-path: polygon(0 0,100% 9vw,100% 100%,0 100%);
    
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 16px;
    color: #808080;
    padding: 3px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}



.map-content{
    padding: 0px 20px;
    
}

.map-content .footer-content{
    background-color: black;
    border-radius: 4px;
    background-image: url(../img/map-3.png);
}

.map-content .footer-content .footer-details{
    padding: 34px 21px;
    
}

.map-content .footer-content .footer-details .footer-text .footer-header{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: 10px;
}

.map-content .footer-content .footer-details .footer-text .footer-f1{
    font-size: 8px;
    letter-spacing: 0.06em;
    color: #8a8686;
}






.header-title{
    display: block;
    color: #000;
    font-size: 0.5em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5%;
}

.header-title .h1-title{
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5%;
}


.head-content .head-image{
    width: 100%
}

.head-content .head-h2{
    padding: 10px 12px;
}

.head-content .title-text{
    margin: 10px 10px;
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;

}

.head-content .head-h2 .title-p{
    margin: 10px 20px;
    font-size: 0.8em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
    color: #aba3a3;
    /* margin-bottom: 16px; */
    text-align: center;
}


.apartmentlist{
    margin-bottom: 120px;
}

.apar-content{
    position: relative;
    background-color: #fff;
    
}

.apar-content .apar-image{
    width: 100%
}

.apar-content .apar-h2{
    padding: 10px 12px;
}

.apar-content .apar-text{
   /* margin: 10px 10px; */
    font-size: 1.6em;
    text-align: left;
    font-weight: 600;

}

.apar-content .apar-h2 .apar-p{
    /* margin: 10px 20px; */
    font-size: 0.8em;
    font-family: 'open Sans', 'PT sans';
    /* word-spacing: 10px; */
    letter-spacing: 1.2px;
    color: #aba3a3;
    /* margin-bottom: 16px; */
    text-align: left;
}


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
/* Fixed navbar */

/* General sizing */
ul.dropdown-lr {
  width: 800px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}


.form-content-left .form-text .form-header{
    text-align: left;
    font-size: 20px;
    font-weight :800;
}

.search-group{
    display: block;
}



.input-group .form-control{
    border:0;
}

.input-group .input-group-addon .glyphicon{
    top: 2px;
}

.input-group .fa{
    position: absolute;
    margin: 5px -23px;

}

.input-group-addon:first-child {
    border: 0;
    background-color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
   

}

.form-control:focus {
    border-color: #949191;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #adaaaa;
} 

.search-tabs ul{
    margin-top: 4px;
}

.search-tabs .nav>li>a{
    margin-right: 2px;
    padding: 10px 8px;
    background-color: #035194;
    color: #fff;
    border-radius: 4px;
    border-bottom: none;
}

.search-tabs .nav-pills>li.active>a{
    background-color: #449ef3;
    color: #fff;
    border-radius: 4px;
    border-bottom: none;
}

.forgot-password .forgot-password-text {
    color: #949191;
}  

.forgot-password .forgot-password-text:hover {
    color: red;
}

.signup-button{
    margin-top:18px;
    
}

.signup-fbbutton{
    width: 100%;
    padding: 8px 0;
    margin-top: 15px;
    text-align: center;
    border-radius: 2px;
}

.signup-fbbutton a{
    color: #fff;
}

.btn-info{
    color: #fff;
    background-color: #31b0d5;
}

.no-account .no-account-text{
    color: red;
}

.form-content-right{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    margin-top: 80px;
}

.form-right-content{
    height: 360px;
    /* width: 50%; */
    display: block;
    background-color: #f7f7f7;
    color: #fff;
    /* margin-bottom: 30px; */
}

.form-content-right .form-text .form-header {
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    color: black;
    padding: 0px 41px;
    
    /* margin-bottom: 120px; */
}

.form-content-right .form-text  .form-content{
    margin: 10px 45px;
    font-size: 15px;
    color: #bdbaba;
    font-weight: 600;
    width: 220px;
}

.pro-signin{
    margin-left:40px;
}

.form-content-right .pro-signin .pro-signup p{
    font-size: 15px;
    color: #074354;
    margin-top: 15px;
    font-family: 'open Sans', 'PT sans';
    font-weight: 600;

}



.hero-section .hero-content .input-group .input-group-btn .btn {
    padding: 13px 32px;
    color:#000;
    background-color: #fff;
    border: 1px solid #c1bcbc;
    border-radius: 4px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.login-section{
    margin-top:120px;
}

.login-footer-section{
    margin-top:0px;
}

.property-search-bar{
    background-color: #0077e2;
}

.property-search-bar .input-group{
    padding: 20px;
}

.property-search-bar .input-group .input-group-addon{
    padding: 16px;
    background-color: white;
    border-right-color:white;
    border: 4px 0 0 4px;
}

.property-search-bar .btn{
    border-radius: 0;
}

.property-search-bar .input-group .form-control{
    
    border-left-color: white;
}

.property-search-bar .input-group .input-group-btn .btn{
    height:48px;
}

.property-search-bar .input-group-btn .btn .btn-default .btn-1{
    height:48px;
    border-radius:0 4px 4px 0;
}

.property-content .property-descrption{
    display: block;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 10px 12px;
    margin-bottom: 30px;
    margin-top: 25px;
    
}

.property-content .property-descrption .property-content-header{
    
    border-bottom: 1px dotted black;
    padding: 10px 24px;
}

.property-content .property-descrption .property-content-header .property-title{
    display: inline-block;
}

.property-content .property-descrption .property-content-header .property-button{
   
    float: right;
    margin: 10px;
}

.property-content .property-descrption .property-content-header .property-button img{
    padding: 0 10px;
}

.property-content .property-descrption .property-icons ul{
    display: block;
    width: 100%;
}

.property-content .property-descrption .property-icons ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 10px 8px;
}

.property-descrption .property-table{
    display: block;
    width: 100%;
}

.property-content .property-descrption .property-plan{
    border: 1px solid black;
    margin:10px 20px;
}

.property-content .property-descrption .property-video img{
   
    width: 100%;
    padding: 0 20px;
}

.property-content .property-descrption .property-map{
   
    margin:10px 20px;
}

.property-content .property-descrption .property-plan img{
    width:100%;
    padding: 90px 90px;
}

.mb-1{
    margin-top:0px;
}



.property-search-bar .input-group .input-group-btn .btn-1{
    margin: 0 20px;
    
}

.property-content .property-descrption .product-content-tags-1 .product-title .title-h1{
    font-size: 1em;
    line-height: 4em;
    font-weight: 600;
    text-align: left;
    text-transform: none;
    margin-bottom: 1.5%;
}

.desc-h3{
    margin-left: 20px;
}

.property-content .property-descrption .product-content-tags-1 .product-btn .btn{
    display: block;
    width:100%;
    margin: 0 0 10px 0;
}

.property-content .property-descrption .product-content-tags-1 .product-btn .btn-1{
    background-color: #9bc34d;
    border-color: #9bc34d;
}

.property-content .property-descrption .product-content-tags-1 .product-btn .btn-2{
    background-color: #4db6c3;
    border-color: #4db6c3;
}

.property-content .property-descrption .product-content-tags-1 .product-btn .btn-3{
    background-color: #c34d53;
    border-color: #c34d53;
}

.property-content .property-descrption .product-content-tags-2  .product-btn .btn-4{
    background-color: #07b0dd;
    border-color: #07b0dd;
}

.property-content .property-descrption .product-content-tags-2 .product-btn .btn{
    display: block;
    width:100%;
    margin: 0 0 20px 0;
}

.Page navigation .page-text{
    text-align: center;
}

.search-btn{
    padding: 13px 40px;
    border-radius: 0;
    width:100%;
}

.no-gutter{
    padding:0;
}

.main-search-bar{
    padding: 15px 20px;
    background-color: #18b8f7;
}

.main-search-bar .search-bar .input-group .input-group-addon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-bar .input-group .input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eae8e8;
    border-left:0;
   
}

.search-bar .input-group .form-control{
    height: 48px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
}

.search-bar .input-group .btn{
    padding: 16px 30px;
    margin-left: 8px;
}

.search-bar .input-group .btn .caret {
    margin-left: 19px;
}

.search-bar .input-group .btn-default{
    color: #555555;
    background-color: #fff;
    border-color: #eae8e8;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-y{
    padding: 13px 20px;
    width: 100%;
    font-weight: 600;
    color: #fff;
    background-color: #e6cd17;
    border-color: #e6cd17;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-y:hover{
    color: #fff;
    font-weight: 600;
    background-color: #e6cd17;
    border-color: #e6cd17;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-primary{
    padding: 13px 22px;
}

.property-content .property-area{
    padding: 0 25px;
}

.mt-10{
    margin-top:0;
}

.property-details .header-title h3{
    font-size: 4em;
    text-align: left;
    font-style: none;
    font-weight: 400;
    
}

.property-details .header-title p{
    font-size: 2em;
    text-align: left;
    font-style: none;
    font-weight: 400;
    color: #707070
    
}

.property-price{
    display: block;
}

.property-price ul{
    display: inline-block;
    padding: 10px 18px;
}

.property-detail-section ul{
    float: left;
    list-style: none;
    
   
}

.property-price ul li h3{
    font-size: 1.2em;
    font-family: 'open Sans', 'PT sans';
    text-align: left;
    font-style: none;
    font-weight: 400;
    color: #707070;
    line-height: 1px;
}

.property-price ul li p{
    font-family: 'open Sans', 'PT sans';
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 800;
    color: #07b0dd;
}

.property-price .price-button{
    padding-top: 24px;
}

.property-price .price-button .btn{
    color: #fff;
    background-color: #d8c34c;
    border-color: #d8c34c;
}

.property-icons ul{
   margin-top:20px;
    
}

.property-icons ul li p{
    margin:0;
    font-size: 1.2em;
    text-align: left;
    font-style: none;
    font-weight: 400;
    color: #707070;
    
}

.property-icons ul li span{
    padding: 5px;
    font-family: 'open Sans', 'PT sans';
    font-size: 1.2em;
    color: #8e8b8b;
}

.property-icons ul li .fa-2x{
    color: #8e8a8a;
    font-size: 1.2em;
}

.property-content-header .property-title{
    font-family: 'open Sans', 'PT sans';
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 600;
}

.property-content-header .property-title span{
    color: #11b3f0;
}


.property-desc h3{
    font-family: 'open Sans', 'PT sans';
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 800;
}


.product-features .property-price .price-details .price-tag h3{
    font-size: 1.2em;
    font-family: 'open Sans', 'PT sans';
    text-align: left;
    font-style: none;
    font-weight: 400;
    color: #707070;
    line-height: 1px;
}

.product-features .property-price .price-details .price-tag p{
    font-family: 'open Sans', 'PT sans';
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: 800;
    color: #07b0dd;
}

.property-desc p{
    font-size: 1em;
    line-height:26px;
    text-align: left;
    font-style: none;
    font-weight: 400;
    color: #707070;
}

.table h3{
    margin: 30px 0;
    font-family: 'open Sans', 'PT sans';
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 800;
}

.table{
    width: 100%;
    max-width: 100%;
    margin: 34px 0;
}

.table tbody tr td{
    padding: 10px 40px;
}

.table>tbody>tr>td{
    border-top:0;
}

.property-feature-icons ul li{
    display: inline-block;
    padding: 10px 5px;
}

.property-feature-icons ul li .fa-2x{
    color: #8e8a8a;
    font-size: 1.2em;
}

.property-feature-icons ul li span{
    font-size:1.2em;
    margin-right: 60px;
}

.property-feature-icons ul li img{
    margin-right: 20px;
}

.main-search-bar .product-btn-1{
    padding: 0 30px;
}

.main-search-bar .product-btn-2{
    padding: 0 20px;
}


.glyphicon {
    position: relative;
    top: 4px;
    /* font-family: 'open Sans', 'PT sans';: 'open Sans', 'PT sans';: sans-serif; */
    font-size: 17px;
    word-spacing: -14px;
    display: inline-block;
    font-family:'Glyphicons Halflings';
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}

.product-section nav {
    text-align: center;
}

.product-section ul{
    margin-bottom: 20px;
}

.product-section ul li a{
    color:black;
}


.product-section .property-desc .property-title{
    color: #666666;
    padding-bottom: 10px;
    
}

a {
    color: #fff;
    text-decoration: none;
}

.search-bar .input-group .form-control {
    height: 54px;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eae8e8;
    border-right-color: transparent;
    border-radius: 0;
}

.search-bar .input-group .input-group-addon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}




.property-area ul li a{
    color: black;
    
}

.photos-desc h3{
    float: right;
    right: 0;
    padding: 35px 0;
    font-family: 'open Sans', 'PT sans';;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 800;
    color: #666666;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}


.seargh-search{
    padding: 15px 0px;
    background: linear-gradient(to right, #18b8f7, #0967bf);
}

.product-section{
    padding: 0 10px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .seargh-search {
        padding: 15px 10px;
        background: linear-gradient(to right, #18b8f7, #0967bf);
    }
}


@media only screen and (min-width: 320px) and (max-width: 600px) {
    .nav-pills>li {
        float: none;
    }
}

@media only screen and (min-width:320px) {
    .search-bar .input-group .btn {
        margin-left:0;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .search-bar .input-group .btn {
        margin-left:0;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 600px){
    .hero-section .hero-content .main-search-bar .search-bar {
    margin-left: 0;
    width: 85%;
    }
}    


@media only screen and (max-width: 600px) {
    .head-section {
        padding: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .head-section .submitt-property .btn-2 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-section {
        margin-top: -135px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav>li>a {
        font-family: 'open Sans', 'PT sans';
        font-size: 0.6em;
        font-weight: 600;
        padding: 0px 2px;
        border-radius: 4px;
        letter-spacing: -0.8px;
        text-align: left;
        margin-right: 14px;
    }
}






